@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --background: #000000;
  --foreground: #fdfdfd;
  --primary: #177439; 
  --secondary: #84cc16;
  --tertiary: #06d44bc7;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}