@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --background: #000000;
  --foreground: #fdfdfd;
  --primary: #177439; 
  --secondary: #84cc16;
  --tertiary: #06d44bc7;
}
